<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FJFateRequest</key>
	<dict>
		<key>GameID</key>
		<string>1</string>
		<key>CpID</key>
		<string>1</string>
		<key>LoginURL</key>
		<string>http://182.254.230.56:8000/</string>
		<key>Key</key>
		<string>fI5MGKj9xxjEw7AO7yzO2FRdcIbmOvYe</string>
		<key>appid</key>
		<string>20001</string>
		<key>备注</key>
		<dict>
			<key>appid</key>
			<string>应用id</string>
			<key>Key</key>
			<string>密匙</string>
			<key>LoginURL</key>
			<string>登陆地址</string>
			<key>CpID</key>
			<string>合作方ID</string>
			<key>GameID</key>
			<string>游戏ID</string>
		</dict>
	</dict>
	<key>FateRequest</key>
	<dict>
		<key>GameID</key>
		<string>1</string>
		<key>CpID</key>
		<string>1</string>
		<key>LoginURL</key>
		<string>http://fate.dolosvr.com/sdk/</string>
		<key>Key</key>
		<string>35ab37abad2fb68094bc053698f2fac6</string>
		<key>备注</key>
		<dict>
			<key>Key</key>
			<string>密匙</string>
			<key>LoginURL</key>
			<string>登陆地址</string>
			<key>CpID</key>
			<string>合作方ID</string>
			<key>GameID</key>
			<string>游戏ID</string>
		</dict>
	</dict>
	<key>XJLRequest</key>
	<dict>
		<key>Regist_URL</key>
		<string>http://cwxjl7.91you.com/cgi-bin/regist_9158.py</string>
		<key>QuickLogin_URL</key>
		<string>http://cwxjl7.91you.com/cgi-bin/regist_duole.py</string>
		<key>SIGNKEY</key>
		<string>5kz7vxewrI8789disuew87837</string>
		<key>9158SignKey</key>
		<string>bac84877e2c5709b8631860e5f8b724147fc708bc1f9f5c9</string>
		<key>9158ChangePassword_URL</key>
		<string>http://passport.17777.com/syapi/updatepassword</string>
		<key>9158Login_URL</key>
		<string>http://passport.17777.com/syapi/login</string>
		<key>备注</key>
		<dict>
			<key>Regist_URL</key>
			<string>9159注册地址（不同渠道得替换查考下面）</string>
			<key>QuickLogin_URL</key>
			<string>快速登陆地址和绑定地址 （不同渠道得替换查考下面）</string>
			<key>SIGNKEY</key>
			<string>密匙(临时账号)</string>
			<key>9158SIGNKEY</key>
			<string>9158登陆的密匙</string>
			<key>9158Login_URL</key>
			<string>9158登陆地址</string>
			<key>9158ChangePassword_URL</key>
			<string>9158修改密码地址</string>
			<key>ios1Regist_URL（大作战）</key>
			<string>http://180.150.187.205/cgi-bin/regist_9158.py</string>
			<key>ios2Regist_URL（大冒险）</key>
			<string>http://120.132.70.211/cgi-bin/regist_9158.py</string>
			<key>ios3Regist_URL（精灵王）</key>
			<string>http://cwxjl7.91you.com/cgi-bin/regist_9158.py</string>
			<key>ios1QuickLogin_URL （大作战）</key>
			<string>http://180.150.187.205/cgi-bin/regist_duole.py</string>
			<key>ios2QuickLogin_URL（大冒险）</key>
			<string>http://120.132.70.211/cgi-bin/regist_duole.py</string>
			<key>ios3QuickLogin_URL（精灵王）</key>
			<string>http://cwxjl7.91you.com/cgi-bin/regist_duole.py</string>
		</dict>
	</dict>
	<key>text</key>
	<dict>
		<key>找不到服务器。应该是网络不稳定QAQ,过会儿再试试。</key>
		<string>找不到服务器。应该是网络不稳定QAQ,过会儿再试试。</string>
		<key>账号密码只能是数字或字母！（别输入奇怪的东西进来~）</key>
		<string>账号密码只能是数字或字母！（别输入奇怪的东西进来~）</string>
		<key>新密码只能是数字或字母！（别输入奇怪的东西进来~）</key>
		<string>新密码只能是数字或字母！（别输入奇怪的东西进来~）</string>
		<key>太短了,新密码最少为6位</key>
		<string>太短了,新密码最少为6位</string>
		<key>两次密码输入不一致</key>
		<string>两次密码输入不一致</string>
		<key>太短了,账号密码最少为6位</key>
		<string>太短了,账号密码最少为6位</string>
		<key>账号密码不得为空</key>
		<string>账号密码不得为空</string>
		<key>The Internet connection appears to be offline.</key>
		<string>请检查网络～我连不上网～</string>
		<key>账号只能是数字或字母！（别输入奇怪的东西进来~）</key>
		<string>账号只能是数字或字母！（别输入奇怪的东西进来~）</string>
		<key>密码不能为空</key>
		<string>密码不能为空</string>
		<key>账号不能为空</key>
		<string>账号不能为空</string>
		<key>新密码(最少6位)</key>
		<string>新密码(最少6位)</string>
		<key>原密码</key>
		<string>原密码</string>
		<key>确认密码(最少6位)</key>
		<string>确认密码(最少6位)</string>
		<key>密码(最少6位)</key>
		<string>密码(最少6位)</string>
		<key>帐号(最少6位)</key>
		<string>帐号(最少6位)</string>
		<key>密码</key>
		<string>密码</string>
		<key>帐号</key>
		<string>帐号</string>
		<key>注册并绑定</key>
		<string>注册并绑定</string>
		<key>绑定</key>
		<string>绑定</string>
		<key>登录失败</key>
		<string>登录失败</string>
		<key>取消</key>
		<string>取消</string>
		<key>确定</key>
		<string>确定</string>
		<key>你确定删除该账号吗？</key>
		<string>你确定删除该账号吗？</string>
		<key>删除账号</key>
		<string>删除账号</string>
		<key>其它帐号</key>
		<string>其它帐号</string>
		<key>临时账号在删除客户端后会丢失。为了安全，建议绑定。</key>
		<string>临时账号在删除客户端后会丢失。为了安全，建议绑定。</string>
		<key>快速登录</key>
		<string>快速登录</string>
		<key>登录</key>
		<string>登录</string>
		<key>注册</key>
		<string>注册</string>
		<key>修改密码</key>
		<string>修改密码</string>
	</dict>
</dict>
</plist>
