<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DuoleIap</key>
	<dict>
		<key>Protocol</key>
		<dict>
			<key>pay_type_url</key>
			<string>http://fate.dolosvr.com/ios/huanyue/pay_type</string>
			<key>URL</key>
			<string>http://120.132.95.238/cgi-bin/pay/pay_ios_duole.py</string>
			<key>main_dic</key>
			<dict>
				<key>bundle</key>
				<dict>
					<key>备注</key>
					<string>类型4，表示是bundle ID</string>
					<key>type</key>
					<string>4</string>
				</dict>
				<key>receipt</key>
				<dict>
					<key>备注</key>
					<string>类型2，表示是收据参数</string>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>server_id</key>
				<dict>
					<key>备注</key>
					<string>服务器id</string>
					<key>type</key>
					<integer>1</integer>
				</dict>
				<key>uid</key>
				<dict>
					<key>备注</key>
					<string>用户ID</string>
					<key>type</key>
					<integer>1</integer>
				</dict>
				<key>sign</key>
				<dict>
					<key>备注</key>
					<string>类型3，表示是需要组合和md5，小写加密的。验证用的</string>
					<key>data</key>
					<array>
						<string>STR</string>
						<string>uid</string>
						<string>key1</string>
					</array>
					<key>type</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
		<key>ProductList</key>
		<dict>
			<key>1</key>
			<string>VIPCARD_M2</string>
			<key>2</key>
			<string>VIPCARD_M1</string>
			<key>3</key>
			<string>zs_6480</string>
			<key>4</key>
			<string>ZS_5480</string>
			<key>5</key>
			<string>ZS_3280</string>
			<key>6</key>
			<string>ZS_1980</string>
			<key>7</key>
			<string>zs_980</string>
			<key>8</key>
			<string>ZS_300</string>
			<key>9</key>
			<string>ZS_60</string>
		</dict>
		<key>message</key>
		<dict>
			<key>支付失败:%@</key>
			<string>支付失败:%@</string>
			<key>开始交♂易</key>
			<string>开始交易</string>
			<key>交易♂成功</key>
			<string>交易♂成功</string>
			<key>补单失败！请再次支付（不需要付款）</key>
			<string>补单失败！请再次支付（不需要付款）</string>
			<key>付款成功，交易♂失败</key>
			<string>付款成功，交易♂失败</string>
			<key>付款成功</key>
			<string>付款成功</string>
			<key>发现有%lu订单为发送失败，正在补单...</key>
			<string>发现有%lu订单为发送失败，正在补单...</string>
			<key>商品信息加载失败：%@</key>
			<string>商品信息加载失败：%@</string>
			<key>有%lu个商品不可用</key>
			<string>有%lu个商品不可用</string>
		</dict>
	</dict>
	<key>FJThirdPay</key>
	<dict>
		<key>Protocol</key>
		<dict>
			<key>payType</key>
			<string>ios</string>
			<key>channelid</key>
			<string>AppStore</string>
			<key>environment</key>
			<string>1</string>
			<key>appid</key>
			<string>20001</string>
			<key>key</key>
			<string>fI5MGKj9xxjEw7AO7yzO2FRdcIbmOvYe</string>
			<key>URLTest和URL</key>
			<string>http://182.254.228.195:8080/             http://pay.windplay.cn/ </string>
			<key>URL</key>
			<string>http://182.254.228.195:8080/</string>
			<key>main_dic</key>
			<dict>
				<key>bundle</key>
				<dict>
					<key>备注</key>
					<string>类型4，表示是bundle ID</string>
					<key>type</key>
					<string>4</string>
				</dict>
				<key>receipt</key>
				<dict>
					<key>备注</key>
					<string>类型2，表示是收据参数</string>
					<key>type</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>ProductList</key>
		<dict>
			<key>1</key>
			<string>com.sbzz.product10001</string>
			<key>2</key>
			<string>com.sbzz.product10002</string>
			<key>3</key>
			<string>com.sbzz.product10009</string>
			<key>4</key>
			<string>com.sbzz.product10008</string>
			<key>5</key>
			<string>com.sbzz.product10007</string>
			<key>6</key>
			<string>com.sbzz.product10006</string>
			<key>7</key>
			<string>com.sbzz.product10005</string>
			<key>8</key>
			<string>com.sbzz.product10004</string>
			<key>9</key>
			<string>com.sbzz.product10003</string>
		</dict>
		<key>message</key>
		<dict>
			<key>支付失败:%@</key>
			<string>支付失败:%@</string>
			<key>开始交♂易</key>
			<string>开始交易</string>
			<key>交易♂成功</key>
			<string>交易♂成功</string>
			<key>补单失败！请再次支付（不需要付款）</key>
			<string>补单失败！请再次支付（不需要付款）</string>
			<key>付款成功，交易♂失败</key>
			<string>付款成功，交易♂失败</string>
			<key>付款成功</key>
			<string>付款成功</string>
			<key>发现有%lu订单为发送失败，正在补单...</key>
			<string>发现有%lu订单为发送失败，正在补单...</string>
			<key>商品信息加载失败：%@</key>
			<string>商品信息加载失败：%@</string>
			<key>有%lu个商品不可用</key>
			<string>有%lu个商品不可用</string>
		</dict>
	</dict>
</dict>
</plist>
